In [1]:
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [19]:
db_string = "postgres://postgres:Bobo90@localhost:5432/Non_profit"

In [20]:
engine = create_engine(db_string)
conn = engine.connect()

In [21]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM income", conn)

In [22]:
# Preview the Data
data.head()

   id  state    county  year  per_capita_income  percent_change_yoy
0   1  Texas  Anderson  2017            32759.0                 NaN
1   2  Texas   Andrews  2017            45435.0                 NaN
2   3  Texas  Angelina  2017            37347.0                 NaN
3   4  Texas   Aransas  2017            45597.0                 NaN
4   5  Texas    Archer  2017            47778.0                 NaN