In [20]:
import json
import pandas as pd

In [21]:
import plotly.express as px
import plotly.graph_objects as go

In [22]:
import plotly.io as pio
pio.renderers.default = "browser"

In [23]:
texas_counties = json.load(open("Texas_County_Boundaries.geojson"))

In [24]:
#a new dictionary that links "id" to the county name

county_id_map = {}

for feature in texas_counties['features']:
    feature["id"] = feature['properties']['FIPS_ST_CNTY_CD']
    county_id_map[feature['properties']['CNTY_NM']] = feature['id']

In [25]:
df = pd.read_csv("medianage.csv")
df.head()

     County  Median Age Population
0  Anderson        39.4     57,735
1   Andrews        31.5     18,705
2  Angelina        37.5     86,715
3   Aransas        51.2     23,510
4    Archer        44.1      8,553

In [26]:
#https://www.analyticsvidhya.com/blog/2020/03/what-are-lambda-functions-in-python/

df['id'] = df['County'].apply(lambda x: county_id_map[x])
df.head()

     County  Median Age Population     id
0  Anderson        39.4     57,735  48001
1   Andrews        31.5     18,705  48003
2  Angelina        37.5     86,715  48005
3   Aransas        51.2     23,510  48007
4    Archer        44.1      8,553  48009

In [27]:
#https://plotly.github.io/plotly.py-docs/generated/plotly.express.choropleth.html:

fig = px.choropleth (df,
                    locations = "id",
                    geojson = texas_counties,
                    color = 'Median Age',
                     hover_name = 'County',
                     hover_data = ['Population'],
                    scope = 'usa',
                       title = "Texas Median age and Population by County-2019"
            
                    )
fig.show()

In [28]:
fig.update_geos(fitbounds="locations", visible=False)

fig.show()

##fix bug with: https://github.com/streamlit/streamlit/issues/1104:::
#fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
#fig.show()