In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [24]:
median_df = pd.read_csv('Data sources/medians.csv')
median_df.drop(columns = 'Unnamed: 0', inplace=True)
median_df.rename(columns={'county': 'county_name'}, inplace=True)
median_df.index.name = "county_id"
median_df

,county_name,median_2015,median_2016,median_2017,median_2018,median_2019,median_2020
county_id,,,,,,,
0,De Witt County,94052.5,107373.0,114185.5,119794.0,127117.0,133102.0
1,San Patricio County,124859.5,126004.0,116704.5,117441.5,116746.5,125512.0
2,Donley County,70620.5,74544.0,76490.5,80328.5,81981.5,88506.0
3,Dimmit County,81435.0,68550.0,68174.5,71846.5,74372.0,88539.0
4,Floyd County,43665.5,46849.0,49930.5,47688.5,49674.0,57073.0
...,...,...,...,...,...,...,...
213,Franklin County,198126.5,207747.0,221152.5,231690.5,240265.0,248215.0
214,Rains County,111686.0,117804.5,125243.5,136859.5,144446.5,147265.0
215,Delta County,63746.0,68485.0,74183.0,79587.5,86669.0,90655.0
216,Kaufman County,135257.5,145075.5,160297.5,177174.0,191065.5,212539.5
217,Rockwall County,193607.0,212693.0,232700.5,243160.5,252957.5,256415.5

In [8]:
rds_connection_string = f"postgres:{password_here}@localhost:5432/Non_profit"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
engine.table_names()

['house_median_prices']

In [21]:
median_df.to_sql(name='house_median_prices', con=engine, if_exists='append',index=True)